html,body{
	margin: 0px;
	padding: 0px;
	height: 100%;
	background-image: url(img/fondo.jpg);
}
header{
	width: 100%;
	height: 15%;
}
#logo{
	height: 100%;
	width: 8%;
	margin-left: 13%;
}
#iconos{
	margin-left: 7%;
}
nav{
	width: 13%;
	height: 30%;
	background-color: white;
	position: fixed;
}
#principal{
	width: 74%;
	height: 125%;
	background-color: white;
	margin-left: 13%;
}
article{
	width: 65%;
	height: 26%;
	margin-left: 1%;
	margin-top: 1%;
	float: left;
}
section{
	width: 98%;
	height: 90%;
	margin-left: 1%;
}
#img{
	width: 32%;
	height: 26%;
	float: left;
	margin-left: 1%;
	margin-top: 1%;
}
#img img{
	width: 100%;
	height: 100%;
}
#jmetal{
	width: 18%;
	height: 30%;
	position: absolute;
	margin-left: 1%;
	top: 51%;
}
#jmetal img{
	width: 100%;
	height: 100%;
}
aside{
	width: 53%;
	height: 30%;
	position: absolute;
	background-color: white;
	top: 51%;
	left: 33%;
}
#i1{
	float: left;
	width: 30%;
	height: 40%;
	margin-left: 1%;
	margin-top: 2%;
}
#i1 img{
	width: 100%;
	height: 100%;
}
#s1{
	float: left;
	width: 66%;
	height: 40%;
	margin-left: 1%;
	margin-top: 2%;
}
#i2{
	float: left;
	width: 30%;
	height: 40%;
	margin-left: 1%;
	margin-top: 2%;
}
#i2 img{
	width: 100%;
	height: 100%;
}
#s2{
	float: left;
	width: 66%;
	height: 40%;
	margin-left: 1%;
	margin-top: 2%;
}
#img2{
	width: 12%;
	height: 38%;
	position: absolute;
	margin-left: 1%;
	top:82%;
	background-color: brown;
}
#img2 img{
	width: 100%;
	height: 100%;
}
#art{
	width: 59%;
	height: 38%;
	position: absolute;
	margin-left: 14%;
	top:82%;
	background-color: grey;	
	color: white;
}
#s3{
	float: left;
	width: 31%;
	height: 80%;
	margin-left: 1%;
	margin-top: 2%;
}
#img3{
	float: left;
	width: 31%;
	height: 88%;
	margin-left: 1%;
	margin-top: 2%;
}
#img3 img{
	width: 100%;
	height: 100%;
}
#s4{
	float: left;
	width: 31%;
	height: 80%;
	margin-left: 1%;
	margin-top: 2%;
}
footer{
	width: 72%;
	height: 21%;
	position: absolute;
	margin-left: 1%;
	top:123%;
}
#khaos{
	float: right;
	width: 15%;
}